@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form action="send_data">
        <br />
        <br />
        <input type="text" name="user" />
        <br />
        <input type="text" name="book" />
        <br />
        <input type="number" name="count" />
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>